<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
	<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/upload.css}" rel="stylesheet" type="text/css">
	<script>
		$(function ($) {
			$("#preview-table").DataTable({
				"language": {
					"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
				},
				autowidth: false,
				lengthMenu: [10, 50, 100, 200, 500],
				displayLength: 50
			});
		});
	</script>
	<title>LicenseManager</title>
</head>

<body>
	<!-- ヘッダー -->
	<div th:replace="~{header :: header}"></div>

	<!-- ファイルアップロードブロック -->
	<div>
		<div class="file-upload-block">
			<form th:action="@{/employeeMaintenance}" enctype="multipart/form-data" method="post">
				
				<!-- ファイル情報ブロック -->
				<div class="file-info-block">
					<input type="file" name="file_contents" required>
					<table>
						<!-- パスワード -->
						<tr>
							<th>パスワード</th>
							<td>
								<input type="password" name="pass" required>
							</td>
						</tr>
						<!-- シート番号 -->
						<tr>
							<th>シート番号 </th>
							<td>
								<input type="number" name="sheetNum" value="1" min="1" required>
							</td>
						</tr>
						<!-- ヘッダー行 -->
						<tr>
							<th>ヘッダー行</th>
							<td>
								<input type="number" name="firstRowNum" value="6" min="1" required>
							</td>
						</tr>
					</table>
				</div>
				
				<!-- アップロードボタンブロック -->
				<div class="upload-button-block">
					<button class="upload-button" type="submit">アップロード</button>
				</div>
			</form>
		</div>
	</div>

	<!-- フォーム（社員情報） -->
	<form th:action="@{/employeeMaintenance/update}" method="post" th:object="${employeeDataListParam}">

		<!-- エラーメッセージ -->
		<div th:if="${errorMsgList} != null" class="error-msg-block">
			<div th:each="errorMsg:${errorMsgList}" th:text="${errorMsg}"></div>
		</div>

		<!-- 表ブロック -->
		<div class="table-block" th:if="${employeeDataListParam != null}">
			<!-- プレビュー表 -->
			<table id="preview-table" class="table table-bordered" style="width: 100%;"
				th:if="${employeeDataListParam != null}">
				<!-- ヘッダー -->
				<thead>
					<tr>
						<th>社員番号</th>
						<th>氏名</th>
						<th>所属部門</th>
						<th>正社員転換日</th>
					</tr>
				</thead>
				<!-- 表示データ -->
				<tbody>
					<tr th:each="employeeData,st:*{employeeDataList}">
						<!-- 社員番号 -->
						<td th:text="${employeeData.id}" class="id"></td>
						<!-- 氏名 -->
						<td th:text="${employeeData.name}"></td>
						<!-- 所属部門 -->
						<td th:text="${employeeData.department}"></td>
						<!-- 正社員転換日 -->
						<td th:text="${employeeData.changeStatusDate}" class="date"></td>
					</tr>
				</tbody>
			</table>
			<!-- フォームデータ -->
			<div>
				<div th:each="employeeData,st:*{employeeDataList}">
					<input type="hidden" th:field="*{employeeDataList[__${st.index}__].id}">
					<input type="hidden" th:field="*{employeeDataList[__${st.index}__].name}">
					<input type="hidden" th:field="*{employeeDataList[__${st.index}__].department}">
					<input type="hidden" th:field="*{employeeDataList[__${st.index}__].changeStatusDate}">
				</div>
			</div>
		</div>

		<!-- 下ボタンブロック -->
		<div class="bottom-button-block" th:if="${employeeDataListParam != null}">
			<!-- 更新ボタン -->
			<span>
				<button type="submit">更新</button>
				<input type="hidden" th:field="${employeeDataListParam}">
			</span>
			<!-- キャンセルボタン -->
			<span>
				<button type="submit" th:formaction="@{/employeeMaintenance/cancel}">キャンセル</button>
			</span>
		</div>
	</form>

</body>

</html>