<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
	<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css">
	<script>
		$(function ($) {
			$("#search-table").DataTable({
				"language": {
					"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
				},
				searching: false,
				autowidth: false,
				lengthMenu: [5, 10, 20, 50, 100],
				displayLength: 20
			});
		});
	</script>
	<title>LicenseManager</title>
</head>

<body>
	<!-- ヘッダー -->
	<div th:replace="~{header :: header}"></div>

	<!-- 検索ブロック -->
	<div class="search-block">
		<!-- フォーム（社員名） -->
		<form th:action="@{/personalSearch}" method="post">

			<!-- ブロック -->
			<div>
				<table>
					<tr>
						<td>
							<!-- 検索ボックス -->
							<span>
								<input type="search" name="q" th:value="${q}" autocomplete="on" list="list"
									placeholder="氏名を入力">
								<!-- 入力候補データリスト -->
								<datalist id="list">
									<option th:each="employee:${allEmployeeList}" th:value="${employee.name}"
										th:label="${employee.id}"></option>
								</datalist>
							</span>
						</td>
						<td>
							<!-- 検索ボタン -->
							<span>
								<button type="submit">検索</button>
							</span>
						</td>
					</tr>
				</table>
			</div>

			<!-- ブロック -->
			<div>
				<!-- 説明文 -->
				<span class="text">※カンマ区切りで複数入力</span>
			</div>
			
		</form>
	</div>

	<!-- ボタンブロック -->
	<div>
		<div class="button-block" th:if="${employeeLicenseList != null}">
			<span>
				<button th:onclick="|location.href='@{/personalSearch/excel}'|" class="excel-button">Excel出力</button>
			</span>
			<span>
				<button th:onclick="|location.href='@{/personalSearch/pdf}'|" class="pdf-button">PDF出力</button>
			</span>
		</div>
	</div>

	<!-- 表ブロック -->
	<div class="table-block" th:if="${employeeLicenseList != null}">
		<!-- 検索表 -->
		<table id="search-table" class="table table-bordered list-table" style="width: 100%;">
			<!-- ヘッダー -->
			<thead>
				<tr>
					<th>社員番号</th>
					<th>氏名</th>
					<th>試験名</th>
					<th>取得日</th>
					<th>届出日</th>
					<!--必要なし <th>手当金額</th> -->
					<th>付与開始月</th>
					<th>備考</th>
				</tr>
			</thead>
			<!-- データ -->
			<tbody>
				<tr th:each="employeeLicense:${employeeLicenseList}" th:object="${employeeLicense}">
					<!-- 社員番号 -->
					<td th:text="*{employee.id}" class="id"></td>
					<!-- 氏名 -->
					<td th:text="*{employee.name}"></td>
					<!-- 試験名（取得資格） -->
					<td th:text="*{license.name}"></td>
					<!-- 取得日 -->
					<td th:text="*{#temporals.format(getDate, 'yyyy/MM/dd')}" class="date"></td>
					<!-- 届出日 -->
					<td th:text="*{#temporals.format(notificationDate, 'yyyy/MM/dd')}" class="date"></td>
					<!-- 手当金額(必要なし)
					<td th:text="*{#numbers.formatInteger(license.level.allowance,3,'COMMA')}" class="allowance">
					</td>
					-->
					<!-- 付与開始日 -->
					<td th:text="*{startDate}" class="date"></td>
					<!-- 備考 -->
					<td th:text="*{remarks}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 出力ボタンブロック -->
	<div class="bottom-button-block" th:if="${false}">
		<!-- Excelボタン -->
		<span>
			<button th:onclick="|location.href='@{/personalSearch/excel}'|" class="excel-button">Excel出力</button>
		</span>
		<!-- PDFボタン -->
		<span>
			<button th:onclick="|location.href='@{/personalSearch/pdf}'|" class="pdf-button">PDF出力</button>
		</span>
	</div>

</body>

</html>